.signin {
  width: 100%;
  position: absolute;
  
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  
  text-align: right;
  padding: 10px;
  box-sizing: border-box;
  background-color: yellow;
}
.signin-response {
  position: absolute;
  top: 70%;
  right: 0;
  padding: 10px;
  transform: translateY(-50%);

  text-align: right;
  width: 100%;
}

.signin-outer h1{
  font-size: 1em;
}
.signin-outer h1::before{
  content: '::..'
}
.signin-outer h1::after{
  content: '..::'
}
