.signup {
  width: 100%;
  position: absolute;
  
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  
  text-align: right;
  padding: 10px;
  box-sizing: border-box;
  background-color: orangered;
}
